<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pcm.pcmmanager">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <permission
        android:name="${packageName}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${packageName}.permission.C2D_MESSAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:clearTaskOnLaunch="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".nomal.NomalMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".common.condition_search.ConditionSearchResultActivity"
            android:label="@string/title_activity_condition_search_result"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".common.expert_detail_info.ExpertDetailInfoActivity"
            android:label="@string/title_activity_expert_detail_info"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".common.notice.text.NoticeListActivity"
            android:label="@string/title_activity_notice"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".nomal.estimate_request.EstimateRequestActivity"
            android:label="@string/title_activity_estimate_request"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".nomal.estimate_list.MyEstimateListActivity"
            android:label="@string/title_activity_nomal_user_estimate_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".nomal.estimate_list.MyEstimateDetailActivity"
            android:label="@string/title_activity_nomal_user_estimate_ldetail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".nomal.info.NomalUserInfoEditActivity"
            android:label="@string/title_activity_nomal_user_info_edit"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".expert.info.ExpertInfoEditActivity"
            android:label="@string/title_activity_expert_info_edit"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".expert.bid_do.BidDoActivity"
            android:label="@string/title_activity_bid_do"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".expert.ExpertMainActivity"
            android:label="@string/title_activity_expert_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBzr2lUbMu6rHtX36NzHrVwEfqeLh6OEPc" />

        <activity
            android:name=".common.notice.text.NoticeTextDetailActivity"
            android:label="@string/title_activity_notice_text_detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".common.ask.AskActivity"
            android:label="@string/title_activity_ask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".service.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        ﻿
        <service
            android:name=".service.RegistrationIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <activity
            android:name=".expert.auction.AuctionSearchListActivity"
            android:label="@string/title_activity_auction_search_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".nomal.estimate_modify.MyEstimateEntryModify"
            android:label="@string/title_activity_my_estimate_entry_modify"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".nomal.estimate_modify.MyEstimateTaxModify"
            android:label="@string/title_activity_my_estimate_tax_modify"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".nomal.estimate_modify.MyEstimateEtcModify"
            android:label="@string/title_activity_my_estimate_etc_modify"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".common.notice.event.NoticeEventActivity"
            android:label="@string/title_activity_notice_event"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".expert.point.PointListActivity"
            android:label="@string/title_activity_point_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".common.use_way.UseWayActivity"
            android:label="@string/title_activity_use_way"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qna.list.QnaListActivity"
            android:label="@string/title_activity_qna_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qna.detail.QnaDetailActivity"
            android:label="@string/title_activity_qna_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qna.ask.QnaAskActivity"
            android:label="@string/title_activity_qna_ask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".nomal.qna_list.MyQnaListActivity"
            android:label="@string/title_activity_my_qna_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>